In [3]:
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots
from plotly.offline import plot

In [29]:
df = pd.read_excel('Resources\WC_Data_Complete1 (2).xlsx', sheet_name='Rig')
df2 =pd.read_excel('Resources\WC_Data_Complete1 (2).xlsx', sheet_name='Operator')
df3 =pd.read_excel('Resources\WC_Data_Complete1 (2).xlsx', sheet_name='Smart Alarms')
df4 = pd.read_excel('Resources\CLEAN_WC_Incidents.xlsx')

In [17]:
all_rigs_df = df[['Rig', 'Region', 'Total Manhours', 'Total WC Incidents', 'HP_WC Incidents', 'WCIR', 'HPIR']]
all_rigs_df = all_rigs_df.drop(index=[0, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150])
all_rigs_df

,Rig,Region,Total Manhours,Total WC Incidents,HP_WC Incidents,WCIR,HPIR
1,221.0,ETX,41021.33,3.0,1.0,14.626537,4.875512
2,222.0,STX,5733.25,1.0,0.0,34.884228,0.000000
3,233.0,STX,30601.51,0.0,0.0,0.000000,0.000000
4,236.0,ETX,34636.50,0.0,0.0,0.000000,0.000000
5,237.0,MDC,23631.84,0.0,0.0,0.000000,0.000000
...,...,...,...,...,...,...,...
135,883.0,WTX,43545.08,0.0,0.0,0.000000,0.000000
136,884.0,WTX,42503.74,0.0,0.0,0.000000,0.000000
137,885.0,WTX,45635.31,0.0,0.0,0.000000,0.000000
138,887.0,WTX,17027.75,0.0,0.0,0.000000,0.000000
139,901.0,ND,39777.48,1.0,0.0,5.027971,0.000000

In [ ]:
rigs_incident_df = all_rigs_df.loc[all_rigs_df['Total WC Incidents'] > 1]
rigs_incident_df

In [50]:
fig0 = px.scatter(all_rigs_df, x="HPIR", y="WCIR", hover_data='Rig',color='Region', labels={"WCIR" : "Total Incident Rate", "HPIR" : "High Potential Incident Rate (3, 4, 5)"}, title="Rigs Incident Rate",width=1600, height=800)
fig0.update_traces(textposition="top right", marker_size=15)
fig0.add_hline(y=all_rigs_df['WCIR'].mean(), line_width=2, line_dash='dash')
fig0.add_vline(x=all_rigs_df['HPIR'].mean(), line_width=2, line_dash='dash')
fig0.write_html("incident_rate_rig.html")
#fig0.show()

In [ ]:
grouped_rigs_by_region = all_rigs_df.groupby('Region').sum()
grouped_rigs_by_region['New WCIR'] = (grouped_rigs_by_region['Total WC Incidents']*200000) / grouped_rigs_by_region['Total Manhours']
grouped_rigs_by_region['New HPIR'] = (grouped_rigs_by_region['HP_WC Incidents']*200000) / grouped_rigs_by_region['Total Manhours']
regions = grouped_rigs_by_region.index
fig1 = px.scatter(grouped_rigs_by_region, x='New HPIR', y='New WCIR', text=regions, labels={'x' : 'HPIR (Includes 3, 4, 5)', 'y' : 'Total WCIR'},title='Region Incident Rate', width=1800, height=900)
fig1.update_traces(textposition='top center', marker=dict(size=10, symbol='diamond', color='red'), hovertemplate='HPIR: %{x} <br>WCIR: %{y}')
fig1.add_hline(y=grouped_rigs_by_region['New WCIR'].mean(), line_width=1, line_dash='dash', line_color='red')
fig1.add_vline(x=grouped_rigs_by_region['New HPIR'].mean(), line_width=1, line_dash='dash', line_color='red')
fig1.update_layout(plot_bgcolor='rgba(0, 0, 0, 0)')
fig1.update_xaxes(showline=True, linewidth=2, linecolor='black',ticks="outside", tickwidth=2)
fig1.update_yaxes(showline=True, linewidth=2, linecolor='black',ticks="outside", tickwidth=2)
fig1.write_html("incident_rate_regions.html")
#fig1.show()

In [52]:
operator_df = df2[['Operator', 'Total Manhours', 'Total WC Incidents', 'HP_WC Incidents', 'WCIR', 'HPIR']]
fig2 = px.scatter(operator_df, x='HPIR', y='WCIR', hover_name='Operator',title='Operator Incident Rate', width=1800, height=900)
fig2.update_traces(marker=dict(size=10, symbol='diamond', color='red'))
fig2.add_hline(y=operator_df['WCIR'].mean(), line_width=1, line_dash='dash', line_color='red')
fig2.add_vline(x=operator_df['HPIR'].mean(), line_width=1, line_dash='dash', line_color='red')
fig2.update_layout(plot_bgcolor='rgba(0, 0, 0, 0)')
fig2.update_xaxes(showline=True, linewidth=2, linecolor='black',ticks="outside", tickwidth=2)
fig2.update_yaxes(showline=True, linewidth=2, linecolor='black',ticks="outside", tickwidth=2)
fig2.write_html("incident_rate_operator.html")
#fig2.show()

In [28]:
basins_df = df[['Rig', 'Basin', 'Total Manhours', 'Total WC Incidents', 'HP_WC Incidents']]
basins_df = basins_df.drop(index=range(140,173))
basins_df = basins_df.groupby('Basin').sum()
basins_df = basins_df.reset_index()
basins_df['WCIR'] = (basins_df['Total WC Incidents']*200000) / basins_df['Total Manhours']
basins_df['HPIR'] = (basins_df['HP_WC Incidents']*200000) / basins_df['Total Manhours']
fig2 = px.scatter(basins_df, x='HPIR', y='WCIR', hover_name='Basin',title='Basin Incident Rate', width=1800, height=900)
fig2.update_traces(marker=dict(size=10, symbol='diamond', color='red'))
fig2.add_hline(y=basins_df['WCIR'].mean(), line_width=1, line_dash='dash', line_color='red')
fig2.add_vline(x=basins_df['HPIR'].mean(), line_width=1, line_dash='dash', line_color='red')
fig2.update_layout(plot_bgcolor='rgba(0, 0, 0, 0)')
fig2.update_xaxes(showline=True, linewidth=2, linecolor='black',ticks="outside", tickwidth=2)
fig2.update_yaxes(showline=True, linewidth=2, linecolor='black',ticks="outside", tickwidth=2)
fig2.write_html("incident_rate_basin.html")
#fig2.show()

In [37]:
fips_codes = pd.read_csv('Resources\FIPS_Codes.csv')
fips_codes

     U.S. FIPS County Codes   Unnamed: 1  Unnamed: 2   Unnamed: 3
0                     State  County Name  FIPS State  FIPS County
1                   Alabama      Autauga          01          001
2                   Alabama      Baldwin          01          003
3                   Alabama      Barbour          01          005
4                   Alabama         Bibb          01          007
...                     ...          ...         ...          ...
3138                Wyoming   Sweetwater          56          037
3139                Wyoming        Teton          56          039
3140                Wyoming        Uinta          56          041
3141                Wyoming     Washakie          56          043
3142                Wyoming       Weston          56          045

[3143 rows x 4 columns]

In [32]:
locations = df4[['Rig', 'County', 'State']]
locations

     Rig     County       State
0    222   La Salle       Texas
1    258     Reeves       Texas
2    267       Eddy  New Mexico
3    329     Panola       Texas
4    252  Glasscock       Texas
..   ...        ...         ...
118  273   Gonzales       Texas
119  298        Lea  New Mexico
120  570     Desoto   Louisiana
121  564     Loving       Texas
122  564     Loving       Texas

[123 rows x 3 columns]

In [ ]:
incidents_per_month = df[['Rig',
                        'Unnamed: 5',
                        'Unnamed: 7',
                        'Unnamed: 9',
                        'Unnamed: 11',
                        'Unnamed: 13',
                        'Unnamed: 15',
                        'Unnamed: 17',
                        'Unnamed: 19']]
incidents_per_month = incidents_per_month.rename(columns={'Unnamed: 5': "Feb",
                                                        'Unnamed: 7' : 'Mar',
                                                        'Unnamed: 9':'Apr',
                                                        'Unnamed: 11':"May",
                                                        'Unnamed: 13':'Jun',
                                                        'Unnamed: 15':'Jul',
                                                        'Unnamed: 17':"Aug",
                                                        'Unnamed: 19': 'Sep'})
incidents_per_month = incidents_per_month.drop(index=[0, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150])
incidents_per_month

In [ ]:
df3 = df3.drop(columns='Unnamed: 0')
df3 = df3.drop(index=[0, 1, 24, 25, 26, 27, 28])
df3 = df3.rename(columns={'Unnamed: 1' : 'Rig', 'Unnamed: 2' : 'Region', 'Unnamed: 19' : 'Total Manhours',
                          'Unnamed: 20':'Total WC Incidents', 'Unnamed: 21':'HP_WC Incidents', 'Unnamed: 22': 'WCIR', 'Unnamed: 23':'HPIR'})

In [94]:
sm_alarms = df3[['Rig', 'Region', 'Total Manhours', 'Total WC Incidents', 'HP_WC Incidents', 'WCIR', 'HPIR']]
sm_alarms_grouped = sm_alarms.groupby('Region').count()

In [ ]:
fig3 = px.pie(sm_alarms_grouped, values='Rig',
              names=sm_alarms_grouped.index,
              color_discrete_sequence=px.colors.sequential.RdBu,
              title='Regions with Smart Alarms',
              labels=sm_alarms_grouped.index)
fig3.update_traces(textposition='inside', textinfo='percent+label')
fig3.write_html("smart_alarms_per_region.html")
#fig3.show()